body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: #ecc;
	font-family: sans-serif;
}

.body {
	display: flex;
	height: 100vh;
	overflow: hidden;
}

.info {
	color: #e1e1e1;
	width: 100%;
	max-width: 28rem;
	height: 18rem;
	margin: auto;
	background-color: #c66;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button {
	max-width: 8rem;
	border: none;
	padding: .5rem 1rem;
	font-size: .9rem;
}

.button:hover {
	opacity: .9;
	cursor: pointer;
}

.primary-button {
	background-color: #cc6;
	color: #333;
}

.modal-container {
	background-color: rgba(0,0,0,.5);
	height: 100vh;
	width: 100vw;
	position: absolute;
	opacity: 0;
	z-index: -1;
	transition: opacity .25s ease-in-out;
}

.modal {
	background-color: #eee;
	max-width: 28rem;
	height: 18rem;
	margin: auto;	
	position: relative;
	top: 25%;
}

.modal-header {
	background-color: #66e;	
	height: 3rem;
}

.modal h2 {
	letter-spacing: .2rem;
	padding-top: 1rem;
	color: #eee;
}

.modal > h2{
	color: #333;
}

.modal p {
	max-width: 24rem;
	margin: 2rem auto;
}

.modal button {
	background-color: #66e;
	color: #eee;
	font-weight: bold;
	padding: .5rem 2rem;
}

.show-modal {
	opacity: 1;
	z-index: 2;
}
